body {
    color: black;
    background-color: white;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
}

img {
    /*max-width: 25%;*/
    width: auto;
    border-radius: 8px;
    /*height: auto;*/
    max-height: 325px;
    margin:5px;
}

.row {

    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 7.5%;
    margin-right: 5%;
    /*flex: 1;*/

}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.pictureButton {
    margin-bottom: 10px;
}

.info {
    flex: 1;
    /*min-height: 500px;*/
}

footer {
    min-height: 50px;
    background: PapayaWhip;
    text-align: center;
    padding: 3px;
    width: 100%;
    color: black;
}
