* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: black;
    background-color: white;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    padding: 20px;
}

button {
    width: 200px;
    margin-left: 50px;
    margin-bottom: 20px;
    background: #ADD8E6;
    padding: 5px;
}

img {
    /*max-width: 25%;*/
    width: auto;
    border-radius: 8px;
    /*height: auto;*/
    max-height: 325px;
    margin:5px;
}

.row {

    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 5%;
    margin-right: 3%;
    /*flex: 1;*/

}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}


.info {
    flex: 1;
    /*min-height: 500px;*/
}

footer {
    min-height: 50px;
    background: #ADD8E6;
    text-align: center;
    padding: 10px;
    width: 100%;
    color: black;
}
